@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    overflow-x: hidden
}

.root {
    
    display: flex;
    flex-direction: column;
}

/* header styling */
.header-container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
header .header-nav-links{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
header .header-nav-links li {
    display: inline-block;
    margin-right: 30px;
    list-style: none;
  }
  header .header-nav-links li a{
      color: #719ECE;
      text-decoration: none;
      font-weight: bold;
      font-size: 1.25rem;
  }
  header .header-nav-links li:last-child {
    margin-right: 0;
  }

/* movie card */
.movie {
    width: 250px;
    margin: 1rem ;
    background-color: #373b69;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.movie .movie-favicon{
    display: inline-block;
    position: relative;
}
.movie .movie-favicon > button{
    position: absolute;
    top: 5%;
    left: 15%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin: 0.2rem 1rem;
    border: none;
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color:rgb(89, 209, 89);
    color:#22254b;
    font-weight: bold;
}
.movie .movie-favicon > button:disabled{
    pointer-events: none;
    opacity: 0.5;
}

.movie .movie-favicon > button:hover{
    background-color: #22254b;
    color: rgb(89, 209, 89);
    border: rgb(89, 209, 89) solid 1px;
}


.movie .movie-info .movie-title-date {
    display: flex;
    flex-direction: column;
}
.movie-title-date h3,h4{
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
}

.movie img {
    object-fit: cover;
    max-width: 100%;
    height: 400px;
}
.movie img:hover{
    padding: 0.1rem;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    
    
}


.movie-info{
    display: flex;
    margin: 0.5rem;
    padding: 0.4rem;
    align-items: center;
    justify-content: space-between;
    
}

.movie-overview {
    background-color: #f2f2f2;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #373b69;
    max-height: 50%;
    overflow: scroll;
    transform: translateY(102%);
    transition: transform 0.3s ease-in-out;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /* box-shadow: 0px -3px 5px  rgba(0, 0, 0, 0.1); */

}

.movie-overview::-webkit-scrollbar{
    display: none;
}

.movie:hover .movie-overview{
    transform: translateY(0%);
}



/* search bar */

header{
    background-color: #373b69;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}


.search {
 background-color: transparent;
 border: 3px solid #22254b;
 border-radius: 50px;
 padding: 0.5rem;
 font-family: inherit;
 font-size: 1.2rem;
 color: #f2f2f2f2;
 
}

.search:focus{
    outline: 0;
}

/* score tags */

.tag {
    background-color: #22254b;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
}

.tag-green {
    color: green;
}

.tag-orange {
    color: orange;
}

.tag-red {
    color: red;
}
/* modal styling */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }




.modal {
       
    margin: 2rem;
    border-radius: 1.2rem;
    box-shadow: 8px 10px 20px  rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    background-color: #373b69;
    margin-top: 20vh;    
}
.modal .modal-img img {
    flex:0.2;
    display: flex;
    width: 90%;
    height: 80%;
    overflow: hidden;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}

.modal-info{
    flex: 0.9;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}



.modal .modal-info .modal-title  h2{
    color: #f2f2f2;
    margin-top: 0px ;
    margin-bottom: 0px ;


}
.modal .modal-info .modal-overview h3{
    margin-top: 10px ;
    margin-bottom: 0px ;
    color: #f2f2f2;
}

.modal .modal-info .modal-overview p{
    margin-top: 10px ;
    margin-bottom: 0px ;
    color: #f2f2f2;
}

.modal-external{
    display: flex;
}
.modal-trailer{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px 10px;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: none;
    margin: 0px 10px 10px 0px;
    transition: all 0.5s;
    cursor: pointer;
}
.modal-movie {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 5px 10px;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    border: none;
    margin: 0px 10px 10px 0px;
    transition: all 0.5s;
    cursor: pointer;
}
.modal-movie span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.modal-movie span:after {
    display: flex;
    align-items: center;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.modal-movie:hover span {
    padding-right: 25px;
  }
  
  .modal-movie:hover span:after {
    opacity: 1;
    right: 0;
  }

  .modal-trailer span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.modal-trailer span:after {
    display: flex;
    align-items: center;
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

.modal-trailer:hover span {
    padding-right: 25px;
  }
  
  .modal-trailer:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* modal notes */
textarea{
    font-size: 1rem;
    resize: none;
    font-weight: bold;
    border-radius: 0.5rem;
}

textarea:focus { 
    outline: none ;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
  
    
}
textarea::-webkit-scrollbar{
    display: none;

}
/* watchlist*/

.movie-container-watchlist{
    display: flex;
}

.card-control{
    display: flex;
    position: absolute;
    top:2%;
    left: 3%;
}
.card-control .ctrl-btn-one > button {    
    border: 1px solid rgb(89, 209, 89);
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color:rgb(89, 209, 89);
    color:#22254b;
    font-weight: bold;
}
.card-control .ctrl-btn-two{
    color: gray;
    font-weight: bolder;
}

.card-control .ctrl-btn-two:hover{
    color: rgb(238, 79, 79);
}
.card-control .ctrl-btn-one > button:hover{
    background-color: #22254b;
    color: rgb(89, 209, 89);
}



